/* Master---------------------------------------------------- */
.masterInventory {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    overflow: hidden;
}

/* header---------------------------------------------------- */
.inventoryHeader {
    width: 100%;
    min-height: 55px;
}


/* list------------------------------------------------------ */
.inventoryList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px;
    gap: 10px;
    overflow-y: scroll;
}
.inventoryList::-webkit-scrollbar {
    display: none;
  }
.inventoryList .inventoryList_items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    border: 1px solid black;
}

.inventoryList .inventoryList_items .invGroup {
    min-width: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inventoryList .inventoryList_items .buttonGroup>div>button {
    min-width: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}