.nightForm.formLabel {
    color: rgb(223, 223, 223);
}

/* input element normal------------------------ */
.nightForm.formInput {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(128, 128, 128);
}

.nightForm.formInput::placeholder {
    color: rgb(0, 0, 0);
    opacity: 60%;
}

/* input element one line---------------------- */
.nightForm.oneLine.formInput {
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.nightForm.oneLine.formInput::placeholder {
    color: rgb(255, 255, 255);
    opacity: 60%;
}