.alertButtonBox{
    width: auto;
    height: auto;
    padding: 10px;
    display:  flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(100, 3, 3);
    border-radius: 5px;
}