.primaryButtonBox{
    width: auto;
    height: auto;
    display:  flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.primaryButtonBox.column {
    flex-direction: column;
}
.primaryButtonBox.row {
    flex-direction: row
}