.secondaryButtonBox{
    width: auto;
    height: auto;
    display:  flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(140, 140, 140, 0.274);
    padding: 10px;
}