.darkForm.formLabel {
    color: rgb(0, 0, 0);
}

/* input element normal------------------------ */
.darkForm.formInput {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(128, 128, 128);
}

.darkForm.formInput::placeholder {
    color: black;
    opacity: 60%;
}

/* input element one line---------------------- */
.darkForm.oneLine.formInput {
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 1px solid black;
}

.darkForm.oneLine.formInput::placeholder {
    color: black;
    opacity: 60%;
}