.darkForm.headerForm {
    background-color: transparent;
    color: white;
}

/* with under line---------------------------------- */
.darkForm.headerForm.underLine {
    border-bottom: 2px solid rgb(245, 245, 245);
}

/* with bold text---------------------------------- */
.darkForm.headerForm.boldHeader {
    font-weight: bold;
}

/* with bold text---------------------------------- */
.darkForm.headerForm.underLine.boldHeader {
    font-weight: bold;
    border-bottom: 2px solid rgb(245, 245, 245);
}