/* Spoločné štýly pre všetky veľkosti tlačidiel */
.lightButton {
    align-items: center;
    appearance: none;
    border: 0;
    background-color: var(--lightColorBackground);
    border-radius: 6px;
    box-sizing: border-box;
    color: #070707;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 28px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
}

/* Špecifické štýly pre veľkosti --------------------------*/
.lightButton.lg {
    padding: var(--largeSizeButton);
    font-size: var(--fontSizeLarge); 
}

.lightButton.medium {
    padding: var(--mediumSizeButton); 
    font-size: var(--fontSizeMedium); 
}

.lightButton.sm {
    padding: var(--smallSizeButton); 
    font-size: var(--fontSizeSmall); 
}

/* Border a rádius ------------------------------------*/
.lightButton.border {
    border: 2px solid rgb(201, 201, 201);
}

.lightButton.round {
    border-radius: 10px;
}

/* pseudo effect ----------------------------------------*/
.lightButton:focus {
    box-shadow: #5c5858 0 0 0 1.5px inset, rgba(192, 192, 192, 0.4) 0 2px 4px, rgba(198, 198, 199, 0.3) 0 7px 13px -3px, #c5c5c5 0 -3px 0 inset;
}

.lightButton:hover {
    box-shadow: rgba(151, 151, 151, 0.4) 0 4px 8px, rgba(160, 160, 160, 0.3) 0 7px 13px -3px, #9e9e9e 0 -3px 0 inset;
    transform: translateY(-2px);
}

.lightButton:active {
    box-shadow: #cacaca 0 3px 7px inset;
    transform: translateY(2px);
}