/* Master------------------------------------------------------ */
.masterForm {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.masterForm .master_childrenBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header------------------------------------------------------ */
.headerForm {
    width: 100%;
    height: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 3px;
}

/* leftSideInfo------------------------------------------------------ */
.leftSideInfo {
    width: 180px;
    min-height: 100%;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    border-right: 2px solid white;
}

/* Input and label-------------------------------------------- */
.label_and_input_box {
    width: 100%;
    height: 100%;
    gap: 3px;
    display: flex;
    flex-direction: column;
}

/* input.... */
.label_and_input_box>input {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    font-size: 15px;
}

.label_and_input_box .oneLine {
    border: none;
}

.label_and_input_box .oneLine:focus {
    outline: none;
}

/* label.... */
.label_and_input_box>label {
    width: 100%;
    height: auto;
    padding: 0 10px;
    font-weight: bolder;
}