* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColorBackground: rgb(40, 63, 180);
    --secondaryColorBackground: rgba(104, 69, 191, 1);
    --alertColorBackground: rgba(176, 25, 25, 1);
    --successColorBackground: rgba(17, 155, 43, 1);
    --nightColorBackground: rgba(67, 57, 87, 1);
    --darkColorBackground: rgba(20, 20, 20, 1);
}