* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@property --primaryColorBackground {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(52, 102, 209);
}

@property --secondaryColorBackground {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(104, 68, 196);
}

@property --alertColorBackground {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(151, 36, 36);
}

@property --successColorBackground {
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(17, 155, 43, 1);
}

@property --nightColorBackground {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(48, 50, 73);
}

@property --darkColorBackground {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(44, 41, 41);
}

@property --lightColorBackground {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(245, 245, 245);
}