.alertDropdown.dropItem {
    min-width: 100%;
    min-height: 30px;

}

.alertDropdown.dropItem:hover {
    background-color: rgba(255, 255, 255, 0.425);
}

.alertDropdown.dropItem>a {
    color: black;
}