.secondaryDropdown.dropItem {
    min-width: 100%;
    min-height: 30px;

}

.secondaryDropdown.dropItem:hover {
    background-color: rgba(32, 32, 32, 0.425);
}

.secondaryDropdown.dropItem>a {
    color: rgb(236, 236, 236);
}