
:root {
    --paddingButton: 6px 16px;
    --fontSizeLarge: 55px;
    --fontSizeMedium: 22px;
    --fontSizeSmall: 19px;
}

.dropDownBox{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ------------------------------------------------------ */
.dropDownMaster{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px;
    cursor: pointer;
    border-radius: 3px;

}

.dropDownMaster:hover{
    background-color: rgba(0, 0, 0, 0.418);
}
/* Špecifické štýly pre veľkosti */
.dropDownMaster.lg {
    padding: var(--paddingButton);
    font-size: var(--fontSizeLarge);
}

.dropDownMaster.medium {
    padding: var(--paddingButton);
    font-size: var(--fontSizeMedium);
}

.dropDownMaster.sm {
    padding: var(--paddingButton);
    font-size: var(--fontSizeSmall);
}
/* ------------------------------------------------------ */

.dropContent {
    margin-top: 5px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    background-color: rgba(79, 79, 92, 0.507);
    padding:0 5px;
}
/* ------------------------------------------------------ */


