.primaryForm.headerForm {
    background-color: transparent;
    color: white;
}

/* with under line---------------------------------- */
.primaryForm.headerForm.underLine {
    border-bottom: 2px solid rgb(255, 255, 255);
}

/* with bold text---------------------------------- */
.primaryForm.headerForm.boldHeader {
    font-weight: bold;
}

/* with bold text---------------------------------- */
.primaryForm.headerForm.underLine.boldHeader {
    font-weight: bold;
}