.primaryDropdown.dropDownMaster {
    background-color: aqua;
    cursor: pointer;
}


/* Špecifické štýly pre veľkosti --------------------------*/
.primaryDropdown.dropDownMaster.lg {
    padding: var(--paddingButton);
    font-size: var(--fontSizeLarge);
}

.primaryDropdown.dropDownMaster.medium {
    padding: var(--paddingButton);
    font-size: var(--fontSizeMedium);
}

.primaryDropdown.dropDownMaster.sm {
    padding: var(--paddingButton);
    font-size: var(--fontSizeSmall);
}

