* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --largeSizeButton: 17px 20px;
    --mediumSizeButton: 13px 14px;
    --smallSizeButton: 5px 9px;
    --fontSizeLarge: 20px;
    --fontSizeMedium: 15px;
    --fontSizeSmall: 13px;
}