/* Spoločné štýly pre všetky veľkosti tlačidiel */
.secondaryButton {
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: rgb(9, 255, 0);
}

/* Špecifické štýly pre veľkosti */
.secondaryButton.lg {
    padding: 10px 13px;
}

.secondaryButton.medium {
    padding: 5px 8px;

}

.secondaryButton.sm {
    padding: 3px 5px;

}

/* Border a rádius */
.secondaryButton.border {
    border: 1px solid white;
}

.secondaryButton.round {
    border-radius: 10px;
}